// @import 'bootstrap';

body {
  background: rgb(49, 71, 250);
  background: radial-gradient(
    circle,
    rgba(49, 71, 250, 0.6208684157256652) 0%,
    rgba(49, 71, 250, 0.41358550256039917) 50%
  );
}
main {
  padding: 80px 0;

  section {
    .title .refrech {
      font-size: 16px;
      padding: 0.6rem 0.8rem;
      line-height: 10px;
      height: 100%;
      color: #fff;
    }

    .table {
      box-shadow: 1px 1px 6px 1px rgba(6, 48, 163, 0.486);
    }
  }
}

.p-link {
  padding: 0;
  margin: 0;
}

.p-item {
  width: 30px;
  height: 30px;
  padding: 6px;
  margin: 4px;
  border: 1px solid #013d976b;
  font-size: 12px;

  &:hover {
    background-color: #c9c8c888;
    transition: all 0.2s ease;
    cursor: pointer;
  }
}

.p-active {
  transform: scale(1.2);
  color: rgb(255, 255, 255);
  border: 1px solid #013d976b;
}
