body {
  background: radial-gradient(circle, rgba(49, 71, 250, 0.620868) 0%, rgba(49, 71, 250, 0.413586) 50%);
}

main {
  padding: 80px 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

main section {
  -webkit-box-shadow: 1px 1px 6px 1px rgba(6, 48, 163, 0.486);
          box-shadow: 1px 1px 6px 1px rgba(6, 48, 163, 0.486);
  border-radius: 5px;
  padding: 50px;
  position: relative;
}

main section .leader {
  position: absolute;
  top: -26px;
  left: 33%;
  background: #a2abf0;
  -webkit-box-shadow: 1px 1px 6px 1px rgba(6, 48, 163, 0.486);
          box-shadow: 1px 1px 6px 1px rgba(6, 48, 163, 0.486);
  border-radius: 5px;
}

main section .title .refrech {
  font-size: 16px;
  padding: 0.6rem 0.8rem;
  line-height: 10px;
  height: 100%;
  color: #fff;
}

main section .title .refrech:hover {
  cursor: pointer;
  -webkit-transform: scale(1.009);
          transform: scale(1.009);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main section .table {
  -webkit-box-shadow: 1px 1px 6px 1px rgba(6, 48, 163, 0.486);
          box-shadow: 1px 1px 6px 1px rgba(6, 48, 163, 0.486);
}

.user-icon {
  color: blue;
  margin-right: 10px;
  font-size: 30px;
}

.submit {
  position: relative;
}

.submit .success {
  position: absolute;
  top: 7px;
  right: 103%;
  color: green;
  font-style: italic;
}

.p-link {
  padding: 0;
  margin: 0;
}

.p-item {
  width: 30px;
  height: 30px;
  padding: 6px;
  margin: 3px;
  border: 1px solid #013d976b;
  font-size: 12px;
  -webkit-box-shadow: 1px 1px 6px 1px rgba(6, 48, 163, 0.199);
          box-shadow: 1px 1px 6px 1px rgba(6, 48, 163, 0.199);
}

.p-item:hover {
  background-color: #c9c8c888;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

.p-active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: white;
  border: 1px solid #013d976b;
}

.tr-row {
  padding: 0.45rem 0.75rem !important;
}

input {
  color: #fff !important;
  background: radial-gradient(circle, rgba(49, 72, 250, 0.103) 0%, rgba(49, 72, 250, 0.062) 50%) !important;
}

input::-webkit-input-placeholder {
  color: rgba(236, 236, 236, 0.801) !important;
}

input:-ms-input-placeholder {
  color: rgba(236, 236, 236, 0.801) !important;
}

input::-ms-input-placeholder {
  color: rgba(236, 236, 236, 0.801) !important;
}

input::placeholder {
  color: rgba(236, 236, 236, 0.801) !important;
}

@media only screen and (max-width: 995px) {
  main {
    padding: 20px 0;
    -webkit-transform: scale(0.87) !important;
            transform: scale(0.87) !important;
  }
  main .title {
    margin: 0;
  }
  main .title .refrech {
    font-size: 13px;
    padding: 0.45rem 0.65rem;
  }
  main section {
    padding: 30px 20px;
  }
  main section .leader {
    font-size: 1.3rem;
    position: absolute;
    left: 17%;
    top: -15px;
  }
  .main-container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .main-container div {
    width: 100% !important;
  }
  .main-container form {
    padding: 0 !important;
  }
  .main-container h2 {
    font-size: 1.4rem;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */